.sidebar {
  border-right: none;
}
.folder-name {
  font-size: 32px;
  float: right;
  padding: 30px 30px;
}
.back-button {
  text-decoration: none;
  color: black;
  padding: 30px 0;
  margin: 0 30px;
  display: block;
  text-align: center;
  border: 1px solid black;
}